@import '../../styles/base'

.featured
  text-align center
  background-color white
  z-index 999
  position relative
  
  .featured-content
    height 52px
    line-height 52px
    color rgba(black, .84)
    position relative
    display inline-block
    
    &:before
      content ""
      background-color #3445DC
      width 12px
      height 12px
      position absolute
      top 50%
      transform translateY(-50%)
      right 100%
    
    a
      font-weight normal
      color rgba(black, .84)
      position relative
      padding 0 10px
      font-size 13px
      +breakpoint("desktop")
        font-size 14px
      
      &:after
        content ""
        width 0
        height 0
        border-style solid
        border-width 5px 0 5px 6px
        border-color transparent transparent transparent #eb5224
        position absolute
        top 50%
        transform translateY(-50%)
        left 100%
    
    i
      color rgba(black, .64)
      font-style initial
      
    span
      color black
      position relative
      font-size 13px
      margin-left 6px
      +breakpoint("desktop")
        font-size 14px
      
      &:hover
        color rgba(black, .84)
  
  +breakpoint("desktop", "max")
    box-shadow inset 0 -1px 0 0 #E6E6E6
    
    &.dropdownOpen
      display none
    
    .featured-content
      p
        color rgba(black, .64)
      i,
      span
        display none
      
      a
        padding-right 0
        
        &:after
          margin-left 10px
  
  &.theme-light
    background-color black
    
    .featured-content
      a
        color white
        
      p
        color rgba(white, .84)
      
      i
        color rgba(white, .64)
      
      span
        color white
        
        &:hover
          color rgba(white, .84)
      
