@import '../styles/base'

.dropdownList
  float left
  height 100%
  padding 5px 20px

  ul
    list-style-type none
    padding 0

  +breakpoint("desktop", "max")
    float none
    width 100%
    margin 0
    height auto
    padding 0
    padding-bottom 15px


.stackedList
  height: auto;

.twoColList
  +breakpoint("desktop")
    width: 100%;

  ul
    clearfix();
    width: 100%;

  li
    +breakpoint("desktop")
      float: left;
      width: 50%;

.moreDropdownList
  +breakpoint("desktop")
    padding-left 12px
    padding-right 12px
    width 150px

    &:first-child
      padding-left 20px

.section-title
  padding-bottom 10px
  margin 12px 0 10px 0
  font-size 13px
  font-weight 500
  color #000 !important
  border-bottom 1px solid $bg-color-gray

  +breakpoint("desktop", "max")
    margin-top 20px
