:global(.iframe-mode),
:global(#content) {
  height: 100%;
}

.iframe-center {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.iframe-mobile {
  border: 0;
  box-shadow: 0px 0px 20px #777;
  display: block;
  height: 480px;
  margin: auto;
  width: 320px;
  resize: both;
  overflow: auto;
}
