@import 'base'

.dropdownList
  float left
  width 182px
  height 100%
  list-style-type none
  padding 5px 10px

  +breakpoint("desktop", "max")
    float none
    width 100%
    margin 0
    height auto
    padding-top 0
    padding-bottom 15px

  .navbar-dropdown-item
    position relative

  .navbar-dropdown-item > a
    display block
    padding 0 10px
    height 44px
    line-height 44px

    > img,
    > span
      vertical-align middle

    > img
      display inline-block
      max-width 20px
      max-height 20px
      margin-right 12px
      filter grayscale(100%)
      opacity .5
      transition filter 0.1s, opacity 0.1s

    &:hover > img
      opacity 1
      filter none

  &.with-arrows

    +breakpoint("desktop")

      .navbar-dropdown-item:after
        content ''
        display inline-block
        position absolute
        right 15px
        top 50%
        transform translateY(-50%)
        width 0
        height 0
        border-top 4px solid transparent
        border-right 4px solid transparent
        border-bottom 4px solid transparent
        border-left 4px solid rgba(black, 0.2)
        transition border 0.1s

      .navbar-dropdown-item:hover:after
        border-left 4px solid black
