@import 'base'

.dropdownList
  float left
  height 100%
  list-style-type none
  padding 5px 10px

  +breakpoint("desktop", "max")
    float none
    width 100%
    margin 0
    height auto
    padding-top 0
    padding-bottom 15px

      .navbar-dropdown-item:hover:after
        border-left 4px solid black
