@import 'base'

.highlight
  position relative
  padding 0 5px

  +breakpoint("desktop", "max")
    padding-left 10px
    padding-right 10px

  +breakpoint("desktop")
    height 100%
    border-left 1px solid $bg-color-gray
    width 418px
    float left

  .highlight-content
    position relative
    width calc(100% - 40px)
    margin 0 20px
    padding-left 110px
    margin-top 20px

    > img
      position absolute
      top 0px
      left 0px
      width 90px
      height 90px
      background-color $bg-color-gray
      border-radius 50%

  .highlight-title
    font-size 18px
    line-height 1.5em
    margin-top 0
    margin-bottom 5px

  .highlight-text
    margin-bottom 0
    color $color-text

  .highlight-link
    display block
    margin-top 10px
    line-height 2
    color $link-color

    &:hover
      color $link-hover-color

      &:after
        transform translateX(3px)

    &:after
      content ''
      display inline-block
      width 0
      height 0
      margin-left 10px
      border-top 4px solid transparent
      border-right 4px solid transparent
      border-bottom 4px solid transparent
      border-left 4px solid currentColor
      transition transform 0.2s
