@import 'base'

.item
  cursor pointer
  position relative

  +breakpoint("desktop", "max")
    margin-bottom 25px

  +breakpoint("desktop")
    float left

    &:hover,
    &:focus

      .link
        color $navbar-default-link-hover-color

      // Show dropdown caret
      .dropdownLink:after
        opacity 1
        visibility visible
        margin-top 5px
        transition-delay 0s

      :global .headerItemDropdown
        opacity 1
        visibility visible
        margin-top 5px
        transition-delay 0s


.link
  text-decoration none
  position relative
  color currentColor
  cursor pointer
  padding 15px

  +breakpoint("desktop", "max")
    font-size 20px
    padding-top 15px
    padding-bottom 15px
    padding-left 0
    line-height 1.5

  +breakpoint("desktop")
    font-size 14px
    padding 20px

.dropdownLink
  composes link

  &:after
    content ''
    display inline-block
    width 0
    height 0
    position absolute
    top 43px
    left 50%
    z-index 1100
    border-top 6px solid transparent
    border-left 6px solid transparent
    border-right 6px solid transparent
    border-bottom 6px solid white
    box-shadow -1px -1px 1px rgba(black, 0.1)
    background-color white
    transform translateX(-50%) rotate(45deg)
    transition visibility 0s 0.2s, opacity 0.2s, margin-top 0.2s
    opacity 0
    visibility hidden
    margin-top 0

.caret
  display none

  +breakpoint("desktop")
    display inline-block
    font-size 10px
    margin-left 5px
