$grid-gutter-width ?= 15px //test
$color-blue-light ?= #44c7f4

$navbar-padding-horizontal ?=              floor($grid-gutter-width / 2)

// Basics of a navbar
$navbar-mobile-height ?=                   75px
$navbar-desktop-height ?=                  100px

// Navbar links
$navbar-default-link-color ?=              black //$color-text-black
$navbar-default-link-hover-color ?=        black
$navbar-dark-link-color ?=                 white //$color-text-contrast-light
$navbar-dark-link-hover-color ?=           white

// Navbar toggle
$navbar-toggle-background-color ?=         gray //$color-gray
$navbar-toggle-background-hover-color ?=   black
$color-text ?= black
$bg-color-gray ?= gray

//
// Responsive
//
breakpoint-mobile = 320px
breakpoint-mobile-landscape = 568px
breakpoint-tablet = 768px
breakpoint-desktop = 992px
breakpoint-desktop-hd = 1200px
