@import 'base';

.site-header
  border-bottom 1px solid rgba(black, 0.1)

.collapse
  composes clearfix
  display block

.navigation
  composes clearfix
  position relative
  color $navbar-default-link-color
  list-style-type none
  margin 0
  padding 0

  +breakpoint("desktop")
    navbar-vertical-align(18px, $navbar-desktop-height)

.navigation-left
  composes navigation
  float left
  padding-left 30px

.navigation-right
  composes navigation
  float right
