@import 'base';
@import 'variables'

.siteHeader
  border-bottom 1px solid rgba(black, 0.1)

.collapse
  composes clearfix
  display block

.navigation
  composes clearfix
  position relative
  color $navbar-default-link-color
  list-style-type none
  margin 0
  padding 0

  +breakpoint("desktop")
    navbar-vertical-align(18px, $navbar-desktop-height)

.navigationLeft
  composes navigation
  float left
  padding-left 30px

.navigationRight
  composes navigation
  float right

.btn
  font-size 11px
  text-transform uppercase
  text-decoration none
  line-height 30px
  color black
  padding 0 18px
  display inline-block
  border-radius 3px
  cursor pointer

  & + .btn
    margin-left 18px


.btnTransparent
  composes btn

  border 1px solid black

.btnSuccess
  composes btn

  background-color #EB5424
  border 1px solid #EB5424
  color white
