@import 'base'

// Global styles

:global
  .section-title
    padding-bottom 10px
    margin 12px 0 10px 0
    font-size 13px
    font-weight 500
    color black
    border-bottom 1px solid $bg-color-gray

// end global styles

.siteHeader
  border-bottom 1px solid rgba(black, 0.1)

.collapse
  clearfix()
  display block

.navigation
  clearfix()
  position relative
  color $navbar-default-link-color
  list-style-type none
  margin 0
  padding 0

  +breakpoint("desktop")
    vertical-center-elem(28px, $navbar-desktop-height)

.navigationLeft
  composes navigation

  +breakpoint("desktop")
    float left
    padding-left 30px

.navigationRight
  composes navigation

  +breakpoint("desktop")
    float right

  :global

    .btn
      font-size 11px
      padding 8px 18px

      + .btn
        margin-left 18px
